@page "/"
@using System.Globalization
@inject NavigationManager Nav

<h1>Saludos!</h1>

Bienvenidos a la aplicación de Cotización de Liciticaciones en Línea.


<SurveyPrompt Title="Tiene cotizaciones sin cerrar?" />
