@page "/licitaciones"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using CotizacionEnLinea.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<h1>Licitaciones</h1>

<p>Este obtiene las Licitaciones desde el servidor.</p>

@if (licitaciones == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Expediente</th>
                <th>Creacion</th>
                <th>Apertura</th>
                <th>Comandos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var licitacion in licitaciones)
            {
                <tr>
                    <td>@licitacion.Expediente</td>
                    <td>@licitacion.FecCreacion.ToShortDateString()</td>
                    <td>@licitacion.FecApertura.ToShortDateString()</td>
                    <td><a href="">Detalle</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Licitacion[] licitaciones;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            licitaciones = await Http.GetFromJsonAsync<Licitacion[]>("Licitacion");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
